.cardie-main{
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    background-color: #ff0000;
    margin: 0;
    padding: 8px;
}

.cardie-main-board{

    width: 585px;
    height: 585px;
}

.cardie-card-board{
    width: 585px;
    height: 670px;
}